{% extends "code_challenge/base_welcome.html" %}

{% block title %}About{% endblock %}

{% block mainbody %}

<link rel="stylesheet" href="/static/css/welcome.css">

<div class="col-md-8">
    <div class="about-pos">
        <span id="title" style="white-space:pre">
    {
      "Team": 142,
      "Name": "Code Challenge!",
      "Committers": ["Jiaxi","Jing","Hailei"],
      "Copyright": "&copy2015 Bearcode lnc.",
      "Did we sleep last night?": "╮(╯▽╰)╭",
      "Are we excited?": "♪(^∇^*)"
    }
        </span>
    </div>
</div>

{% endblock %}
