{% extends "code_challenge/base.html" %}

{% block title %}Edit Problem{% endblock %}

{% block mainbody %}
<style>
    table{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border-top: 1px solid lightgrey;
    }
    tr {
        border-bottom: 1px solid lightgrey;
    }
    td, th {
        padding: 5px;
        font-size: 18px;
        font-weight: normal;
    }
    td.plabel {
        text-align: left;
        width: 15%;
    }
    td.pcontent {
        text-align: left;
        width: 85%;
    }


</style>
    <div class="container" align="center">

            <div class="container">
              <!-- Example row of columns -->
              <div class="row">

                <div class="col-md-10">
                    <h1>Problem Management Dashboard</h1>
                  <br><br>
                  <form method="post" action="{% url 'editproblem' problem.id %}">
                    <table align="center">
                    <tr>
                      <td class="plabel"><label for="id_name">Name:</label></td>
                      <td class="pcontent">
                          <input id="id_name" class="form-control" maxlength="50" name="name" type="text" value="{{problem.name}}" />
                      </td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_description">Description:</label></td>
                      <td class="pcontent">
                          <textarea cols="40" id="id_description" rows="3" class="form-control" maxlength="420" name="description" rows="10">
                              {{problem.description}}
                          </textarea></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_example">Example:</label></td>
                      <td class="pcontent">
                          <textarea cols="40" id="id_example" rows="3" class="form-control" maxlength="420" name="example" rows="10">
                              {{problem.example}}
                          </textarea></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_java_default">Java default:</label></td>
                      <td class="pcontent"><textarea cols="40" id="id_java_default" maxlength="420" name="java_default" rows="10">
                111</textarea></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_python_default">Python default:</label></td>
                      <td class="pcontent"><textarea cols="40" id="id_python_default" maxlength="420" name="python_default" rows="10">
                111</textarea></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_tle_limit">Tle limit:</label></td>
                      <td class="pcontent"><input id="id_tle_limit" min="0" name="tle_limit" type="number" value="1" /></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_mle_limit">Mle limit:</label></td>
                      <td class="pcontent"><input id="id_mle_limit" min="0" name="mle_limit" type="number" value="500" /></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_java_tests">Java tests:</label></td>
                      <td class="pcontent"><textarea cols="40" id="id_java_tests" maxlength="1000" name="java_tests" rows="10">
                </textarea></td>
                      <td style="color: red"></td>
                    </tr>

                    <tr>
                      <td class="plabel"><label for="id_python_tests">Python tests:</label></td>
                      <td class="pcontent"><textarea cols="40" id="id_python_tests" maxlength="1000" name="python_tests" rows="10">
                </textarea></td>
                      <td style="color: red"></td>
                    </tr>
                    </table>

                    {% for field in form.hidden_fields %}
                      {{field}}
                    {% endfor %}
                    {% csrf_token %}
                    <input class="btn btn-default" type="submit" value="Cancel" />
                    <input class="btn btn-success" type="submit" value="Confirm Modify" />
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}