{% extends "code_challenge/base_afterlogin.html" %}
{% block js %}
<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script>
      $(document).ready(function() {
        $('#problems').DataTable( {
            "pagingType": "full_numbers",
            "ordering": false,
             "lengthMenu": [[5,10, 25, 50, -1], [5,10, 25, 50, "All"]],
             "iDisplayLength": 10
        } );
      });

</script>
<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
<style>
    table{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border-top: 1px solid lightgrey;
    }
    tr {
        border-bottom: 1px solid lightgrey;
    }
    td, th {
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    td.pid,th.pid {
        text-align: left;
        width: 5%;
    }
    td.pname,th.pname {
        text-align: left;
        width: 55%;
    }
    td.pacceptance,th.pacceptance {
        width: 20%;
    }
    td.pdifficulty,th.pdifficulty {
        width: 20%;
    }
    td.pacceptance, td.pdifficulty {
        font-weight: normal;
    }
    label{
        font-size: 16px;
    }
    .sponsor {
        border-left: thick double grey;
    }
</style>
{% endblock %}

{% block title %}Global_Stream{% endblock %}

{% block mainbody %}
  
  <!-- problems go here -->
    <div class="container" align="center">

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">

            <div class="col-md-10">
              <br><br>
              <table id="problems" class="compact hover row-border" cellspacing="0">
              <thead>
                <tr>
                    <th class="pid"> # </th>
                    <th class="pname"> Problem </th>
                    <th class="pacceptance"> Acceptance </th>
                    <th class="pdifficulty"> Difficulty </th>
                </tr>
              </thead>
              <tbody>
                  {% for problem in problems %}
                <tr>
                  <td class="pid">
                      {{problem.id}}
                  </td>
                  <td class="pname">
                      <a href="{% url 'problem' problem.id %}">{{problem.name}}</a>
                  </td>
                  <td class="pacceptance">
                      {{problem.success_rate}}
                  </td>
                  <td class="pdifficulty">
                      {{problem.difficulty}}
                  </td>
                </tr>
                  {% endfor %}
              </tbody>
              </table>

            </div>

            <div class="col-md-2 sponsor">
              <h2>SPONSERED</h2>
              <p>Definitly come to 15637! A rly COOOOOOOOOOOOOL course.</p>
              <p>
                <a class="btn btn-default" href="https://piazza.com/cmu/fall2015/1543715637/home" target="_blank" role="button">View details &raquo;</a>
              </p>
            </div>
          </div>

        </div>
        <table>

        </table>
    </div>

{% endblock %}