{% extends "code_challenge/base.html" %}

{% block title %}Login{% endblock %}

{% if form.errors %}
<p style="color:red">
    Incorrect user name and password.
</p>
{% endif %}

{% block mainbody %}
<!--the background image is specific to login page.-->
<style>
    body {
    height: 100%;
    background-image:url('/static/binary1.jpg');
    background-size: 100% auto;
    }
    #mainbody {
    position: relative;
    top: 130px;
    }
</style>

<div class="mainbody">
    <form class="form-horizontal" method="post"
          action="{% url 'django.contrib.auth.views.login' %}">
        <table align="center">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <p></p>
        <button class="btn btn-primary" type="submit" id="log-in-btn" name="login">Login</button>
        <p></p>

        <p><a class="btn btn-success" id="sign-up-btn" href="/register">Sign Up</a></p>
        <input type="hidden" name="next" value="{{ next }}"/>

        <p><a id="forgot-password-btn" href="{% url 'reset_password_reset1' %}">Forgot your
            password?</a></p>
        {% csrf_token %}
    </form>
</div>
<div>Add Problem: <a href="/add_problem">Add</a></div>
{% endblock %}