{% extends "code_challenge/base_welcome.html" %}

{% block title %}Login{% endblock %}

{% if form.errors %}
<p style="color:red">
    Incorrect user name and password.
</p>
{% endif %}

{% block mainbody %}


<style>
    body {
        height: 100%;
        //background-image:url('/static/binary1.jpg');
        background-size: 100% auto;
        background-color:#ffcc00;
    }
    .login-form {
        width: 100%;
        text-align: center;
        position: relative;
        fond-size: 30px;
        padding-top: 150px;
    }
    .form-control {
        height: 36px;
        font-size: 20px;
    }
    h1 {
        font-size: 36px;
        font-family: "Fantasy",Consolas,sans-serif;
        font-weight: 700;
        color: #000;

    }
    td {
        padding: 5px;
    }



    .btn {
        font-weight: bolder;
    }

    .typed-cursor{
        font-size: 36px;
        font-family: "Fantasy",Helvetica,Arial,sans-serif;
        font-weight: 700;
        color: #000;

        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
</style>


<div class="col-md-1"></div>
    <div class="col-md-6">
        <form class="form-horizontal login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            <!--<table align="center">-->
                <!--<tr>-->
                    <!--<td>{{ form.username.label_tag }}</td>-->
                    <!--<td>{{ form.username }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>{{ form.password.label_tag }}</td>-->
                    <!--<td>{{ form.password }}</td>-->
                <!--</tr>-->
                <!--</table>-->
            <h1>Sign In</h1>
            <table align="center">
                <tr>
                    <td><input id="id_username" maxlength="254" size="100" class="form-control" name="username" type="text" placeholder="username"/></td>
                </tr>
                <tr>
                    <td><input id="id_password" class="form-control" size="100" name="password" type="password" placeholder="password"/></td>
                </tr>
            </table>

            <p></p>
            <button class="btn btn-default btn-lg" type="submit" id="log-in-btn" name="login">Sign In</button>


            <a class="btn btn-default btn-lg " id="sign-up-btn" href="/register">Sign Up</a>
            <input type="hidden" name="next" value="{{ next }}"/>

            <p><a id="forgot-password-btn" href="{% url 'reset_password_reset1' %}">Forgot your
                password?</a></p>
            {% csrf_token %}
        </form>
        <div>Add Problem: <a href="{% url 'manageproblem' %}">Manage Problems</a></div>
    </div>

<div class="col-md-2"></div>

{% endblock %}