{% extends "code_challenge/base_afterlogin.html" %}

{% block title %}Problem{% endblock %}

{% block mainbody %}

<script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/static/js/problem.js" type="text/javascript"></script>
<script src="/static/ace-builds/src-noconflict/theme-github.js" type="text/javascript"
        charset="utf-8"></script>

<style type="text/css" media="screen">
    textarea {
        display: block;
        margin: auto;
        width: 600px;
        height: 5px;
    }
    #editor_div {
        display: block;
        margin: auto;
        width: 700px;
        height: 400px;
        border: 1px solid #888;
    }
</style>

<script>
$(document).ready(function() {
    var java_default = $("#java_default").val();
    var python_default = $("#python_default").val();
    var default_lang = $("#default_lang");
    var editor = ace.edit("editor_div");

    console.log("java:");
    console.log(java_default);
    console.log("python");
    console.log(python_default);
    var editor_div = $("editor_div");
    $("#language").on("change", function() {
        console.log(this.value);
        var choice = this.value;
        switch (choice) {
            case "Java":
                console.log("You choose java!");
                default_lang.val("java");
                //editor_div.text(java_default);
                editor.setValue(java_default,1);
                editor.getSession().setMode("ace/mode/java");
                break;
            case "Python":
                console.log("You choose python!");
                default_lang.val("python");
                //editor_div.text(python_default);
                editor.setValue(python_default,1);
                editor.getSession().setMode("ace/mode/python");
                break;
        }
    });

});

</script>

<div style="text-align:left">
    
    <h1>{{problem.name}}</h1>
    <!-- Discussion board link here-->
    <li class="btn btn-info" style="width:180px"><a href="{% url 'discussion' problem.id %}">Discussion for {{problem.name}}</a></li>
    <li class="btn btn-success" style="width:180px" ><a href="{% url 'submit_history' problem.id %}">My submissions</a></li>
    <hr>
    <p>Description: {{problem.description}}</p>

    <p>{{problem.example}}</p>
    <select id="language" name="language">
        <option value="Java">Java</option>
        <option value="Python">Python</option>
    </select>

    <button id="restore">Restore</button>
    <div id="editor_div">{{problem.java_default}}</div>
    <br>
    <input type="hidden" id="problemid" value="{{problem.id}}">
    <hr>
    <button id="submitbtn" class="btn btn-success btn-lg">Submit Code</button>
    <div id="status"></div>
    <div id="message"></div>

    <input type="hidden" id="default_lang" value="java"/>
    <input type="hidden" id="java_default" value="{{problem.java_default}}"/>
    <input type="hidden" id="python_default" value="{{problem.python_default}}"/>
</div>
{% endblock %}