{% extends "code_challenge/base_afterlogin.html" %}

{% block title %}Problem{% endblock %}

{% block mainbody %}

<script src="/static/ace-builds/src-noconflict/ace.js" type="text/javascript"
        charset="utf-8"></script>
<script src="/static/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/static/js/problem.js" type="text/javascript"></script>
<script src="/static/ace-builds/src-noconflict/theme-github.js" type="text/javascript"
        charset="utf-8"></script>

<style type="text/css" media="screen">
    textarea {
        display: block;
        margin: auto;
        width: 600px;
        height: 5px;
    }
    #editor_div {
        display: block;
        margin: auto;
        width: 700px;
        height: 400px;
        border: 1px solid #888;
    }
</style>

<div style="text-align:left">
    
    <h1>{{problem.name}}</h1>
    <!-- Discussion board link here-->
    <li class="btn btn-info" style="width:180px"><a href="{% url 'discussion' problem.id %}">Discussion for {{problem.name}}</a></li>
    <li class="btn btn-success" style="width:180px" ><a href="{% url 'submit_history' problem.id %}">My submissions</a></li>
    <hr>
    <p>Description: {{problem.description}}</p>

    <p>{{problem.example}}</p>

    <div id="editor_div">{{problem.default}}</div>
    <br>
    <input type="hidden" id="problemid" value="{{problem.id}}">
    <hr>
    <button id="submitbtn" class="btn btn-success btn-lg">Submit Code</button>
    <div id="status"></div>
    <div id="message"></div>
</div>
{% endblock %}